.brands__text {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  gap: 16px;
  margin-bottom: 30px;

  h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
  }

  @include vp-768 {
    margin-bottom: 40px;
  }
}

.brands__container {
  position: relative;
}

.brands__link {
  color: $color-burnt-orange;
  margin-top: 4px;
  //cursor: $custom-cursor;

  svg {
    // transform: scale(0.64);
  }

  @include vp-768 {
    // transform: scale(1);
  }
}

.brands__images-list {
  display: none;

  @include vp-768 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.58%;
    margin-bottom: 60px;
  }
}

.brands__wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brands__slide {
  width: fit-content;
  display: flex;
  align-items: center;
  height: auto;
}

.brands__swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13.68px;
  color: $color-grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  padding: 10px;
  border: none;
  background-color: $color-whisper;
  transition: all $trans-default;
  // cursor: $custom-cursor;

  svg {
    transition: all $trans-default;
  }

  @include vp-768 {
    width: 50px;
    height: 47px;
    border-radius: 19px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
    background-color: $color-burnt-orange;

    svg {
      color: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    display: none;
  }
}

.brands__swiper-button--prev {
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.brands__swiper-button--next {
  right: 0;
}


