.brands__text {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  gap: 16px;
  margin-bottom: 13px;

  h2 {
    font-size: 19px;
    font-weight: 900;
    margin: 0;
  }

  svg {
    margin-top: 4px;
  }

  @include vp-768 {
    margin-bottom: 36px;
  }
}

.brands__content-wrapper {
  padding: 0 0 53px 0;

  @include vp-768 {
    padding: 0 0 100px 0;
  }
}

.brands__container {
  position: relative;
}

.brands__link {
  color: $color-burnt-orange;
  margin-top: 4px;
  font-size: 11px;

  svg {
    transform: scale(0.7);
  }

  @include vp-768 {
    svg {
      transform: scale(1);
    }
  }
}

.brands__images-list {
  display: none;

  @include vp-768 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.58%;
    margin-bottom: 60px;
  }
}

.brands__images-item {
  transition: ease-out;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -500px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/svg/brands-wrapper.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    transition: all ease-out;
    animation-duration: $trans-2000;
    animation-delay: -$trans-1000;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1000px;
    transform: translateX(-50%);
    left: 50%;
    width: 113px;
    height: 36px;
    opacity: 0;
    background-image: url("../img/svg/hanko.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all ease-out;
    animation-duration: $trans-1000;
  }

  img {
    animation-duration: $trans-1000;
  }

  &:hover {
    &::before {
      animation-name: bottom-wrapper;
      animation-fill-mode: forwards;
      z-index: 1;
    }

    &::after {
      animation-name: bottom-logo;
      animation-fill-mode: forwards;
      z-index: 10;
    }

    img {
      animation-name: scale;
      animation-fill-mode: forwards;
    }
  }
}

.brands__wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brands__slide {
  width: fit-content;
  display: flex;
  align-items: center;
  height: auto;
}

.brands__swiper-button {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 13.68px;
  color: $color-grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  padding: 10px;
  border: none;
  background-color: $color-whisper;
  transition: all $trans-300;
  cursor: pointer;

  svg {
    transition: all $trans-300;
  }

  @include vp-768 {
    display: flex;
    width: 50px;
    height: 47px;
    border-radius: 19px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
    background-color: $color-burnt-orange;

    svg {
      color: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    display: none;
  }
}

.brands__swiper-button--prev {
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.brands__swiper-button--next {
  right: 0;
}
