.catalog-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-transparent;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all $trans-500;

  &.is-open {
    opacity: 1;
    visibility: visible;

    .catalog-sidebar__wrapper {
      transform: translateX(0);
    }
  }

  @include vp-768 {
    background-color: $color-overlay-20;
  }
}

.catalog-sidebar__wrapper {
  min-height: 100%;
  display: flex;
  align-items: start;
  transition: all $trans-300 ease-out;

  transform: translateX(100vw);

  @include vp-768 {
    transform: translateX(-100vw);
  }
}

.catalog-sidebar__content {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  max-width: 100%;
  position: absolute;
  top: 134px;
  padding: 0 15px 21px 15px;

  @include vp-768 {
    max-width: 340px;
    top: 0;
    padding: 21px 15px;
  }
}

.catalog-sidebar__header {
  padding: 0 0 20px 82px;
  display: none;

  @include vp-768 {
    display: block;
  }
}

.catalog-sidebar__close-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-transparent;
  border: none;
  width: 100%;
  padding: 0;
  gap: 20px;
  font-size: 20px;
  font-weight: 900;

  svg {
    flex-shrink: 0;
  }
}

.catalog-sidebar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;

  @include vp-768 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-default-black;
    }
  }
}


.catalog-sidebar__link {
  display: grid;
  grid-template-columns: 38px 1fr;
  align-items: center;
  gap: 34px;
  padding: 14px 0 16px 10px;
  color: $color-default-black;


  svg {
    transition: all $trans-300 ease-in;
    align-self: start;
  }

  h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    transition: all $trans-300 ease-in;
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      color: $color-burnt-orange;
    }

    h3 {
      color: $color-burnt-orange;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-romantic;

    pointer-events: none;
  }
}

.catalog-sidebar__link--cutting,
.catalog-sidebar__link--cleaning,
.catalog-sidebar__link--grinding,
.catalog-sidebar__link--brushing,
.catalog-sidebar__link--scroll-saw,
.catalog-sidebar__link--filing,
.catalog-sidebar__link--drilling,
.catalog-sidebar__link--polishing,
.catalog-sidebar__link--tool {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-white-smoke-2;
  }
}
