.main-footer {
  padding: 58px 0 71px 0;
  background-color: $color-nero;
  background-image: url("../img/svg/footer-background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;

  @include vp-768 {
    padding: 60px 0 109px 0;
    background-size: 100%;
  }
}

.main-footer__wrapper {
  padding: 0 29px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: repeat(3, auto);

  @include vp-768 {
    padding: 0;
    display: grid;
    grid-template-columns: auto 6.11% 1fr 12.7% auto;
    grid-template-rows: repeat(2, auto);
  }

  @include vp-1200 {
    grid-template-columns: 22.47% 5.11% 45.06% 6.7% 1fr;
    grid-template-rows: auto;
  }
}

.main-footer__contacts {
  display: inline-flex;
  flex-direction: column;
  gap: 33px;
  text-align: left;
  margin-bottom: 62.5px;

  @include vp-768 {
    grid-column: 1 / 2;
    margin: 0;
    gap: 36px;
  }
}

.main-footer__logo {
  display: none;

  svg {
    fill: $color-default-white;
  }

  @include vp-768 {
    display: block;
    margin-top: 3px;
  }
}

.main-footer__email-wrapper,
.main-footer__address-wrapper,
.main-footer__work-hours-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  color: $color-whisper;
  font-size: 13px;
  font-weight: 300;

  svg {
    margin-top: 2px;
  }
}

.main-footer__work-hours-wrapper {
  margin-bottom: 27px;

  @include vp-768 {
    grid-template-columns: 1fr auto;

    svg {
      margin-right: 4px;
    }
  }
}

.main-footer__email {
  color: $color-burnt-orange;
}

.main-footer__address {
  font-style: normal;
}


.main-footer__button {
  padding: 14px 17px 11px 7px;
  min-width: 215px;
  width: 57.18vw;
  align-self: center;

  svg {
    width: 16px;
    height: 20px;
    margin-right: 22px;
  }

  @include vp-768 {
    padding: 13px 20px 11px 18px;
    min-width: auto;
    width: auto;
    max-width: 228px;
    align-self: start;
  }
}

.main-footer__info {
  display: inline-flex;
  flex-direction: column;
  margin: 0 35px 52px 0;

  @include vp-768 {
    grid-column: 5 / 6;
    margin: 0;
    justify-self: end;
  }
}

.main-footer__tel {
  color: $color-whisper;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2px;
  cursor: pointer;

  @include vp-768 {
    margin-bottom: 5px;
  }
}

.main-footer__work-hours {
  span {
    display: block;
    font-size: 12px;
    text-align: left;
    margin-bottom: 2px;
  }

  @include vp-768 {
    order: -1;

    span {
      text-align: right;
      margin: 0;
    }
  }
}

.main-footer__call {
  display: inline-block;
  color: $color-burnt-orange;
  align-self: center;
  margin-bottom: 33px;
  font-size: 11px;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  user-select: none;

  @include vp-768 {
    margin-bottom: 22px;
    align-self: end;
  }
}

.main-footer__social {
  margin: 0 auto;
}

.main-footer__copyright {
  text-align: left;
  font-size: 12px;

  p {
    margin: 0 0 15px 0;
    color: $color-zambezi;
  }

  span {
    color: $color-whisper;
    font-size: 14px;
  }

  @include vp-768 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-top: 64px;

    p {
      margin: 0 0 25px 0;
    }
  }

  @include vp-1200 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0;
  }
}
