.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-overlay-25;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all $trans-300;

  &.is-open {
    opacity: 1;
    visibility: visible;

    .modal__wrapper {
      transform: translateY(0);
    }
  }
}

.modal__wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all $trans-300 ease-out;
  transform: translateY(100vh);

  @include vp-768 {
    transform: translateY(-100vh);
  }
}

.modal__content {
  background-color: $color-default-white;
  color: $color-default-black;
  max-width: 435px;
  padding: 48px 46px;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 32px 0;
    text-align: center;
  }
}

.modal__close-button {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  user-select: none;
  position: absolute;
  right: 22px;
  top: 22px;
  padding: 3px;
  background-color: $color-default-white;
  cursor: pointer;

  .modal__left-right {
    height: 3px;
    width: 18px;
    top: 15px;
    left: 7px;
    position: absolute;
    background-color: $color-default-black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all $trans-300;
  }

  .modal__right-left {
    height: 3px;
    width: 18px;
    top: 15px;
    right: 5px;
    position: absolute;
    background-color: $color-default-black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all $trans-300;
  }
}

.modal__fields-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin-bottom: 32px;

  input,
  textarea {
    border-radius: 12px;
    display: flex;
    padding: 14px;
    gap: 10px;
    align-self: stretch;
    border: none;
    background-color: $color-white-smoke;

    &::placeholder {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  input {
    align-items: center;
  }

  textarea {
    height: 167px;
    align-items: flex-start;
    flex-shrink: 0;
    resize: none;
    margin-bottom: 16px;
  }
}

.modal__checkbox {
  position: relative;

  display: none;
  padding-left: 24px;

  @include vp-768 {
    display: block;
  }
}

.modal__checkbox-input {
  &:hover + .modal__mark-checkbox {
    border-color: $color-silver;
  }

  &:focus + .modal__mark-checkbox {
    border-color: $color-silver;
  }

  &:disabled + .modal__mark-checkbox,
  &:disabled + .modal__mark-checkbox + .modal__label-checkbox {
    border-color: $color-zambezi;
    cursor: default;
    opacity: 0.3;
  }

  &:checked + .modal__mark-checkbox {
    background-color: $color-gainsboro;
    border-color: $color-gainsboro;
  }

  &:checked + .modal__mark-checkbox::before {
    opacity: 1;
  }
}

.modal__label-checkbox {
  font-size: 12px;
}

.modal__mark-checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: $color-default-white;
  transition: all $trans-300 ease-in;
  border: 1px solid $color-gainsboro;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;

    width: 7px;
    height: 6px;

    background-image: url("../img/svg/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all $trans-300 ease-in;
    opacity: 0;
  }
}

.modal__file-input {
  position: relative;
  display: inline-block;

  input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  input[type="file"]:focus + .modal__file-button {
    background-color: $color-silver;
  }

  &:hover .modal__file-button {
    background-color: $color-silver;
  }

  &:active .modal__file-button {
    background-color: $color-silver;
  }

  input[type="file"]:disabled + .modal__file-button {
    background-color: $color-gainsboro;
  }
}

.modal__file-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background-color: $color-whisper;
  height: 47px;
  width: 58px;
  padding: 10px;
  transition: all $trans-300 ease-in;
}

.modal__buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 8px;
}

.modal__button {
  padding: 15px 20px;

  svg {
    width: 22px;
    height: 19px;
    margin-right: 22px;
  }
}
