.new-items__text {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  gap: 16px;
  margin-bottom: 30px;

  h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
  }

  svg {
    margin-top: 4px;
  }

  @include vp-768 {
    margin-bottom: 33px;
    gap: 15px;

    h2 {
      font-size: 19px;
    }
  }
}

.new-items__link {
  color: $color-burnt-orange;
  margin-top: 4px;

  @include vp-768 {
    font-size: 11px;
  }
}

.new-items__container {
  position: relative;
}

.new-items__wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.new-items__slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all $trans-800;
  max-width: 160px;
  cursor: default;
  height: auto;

  @include vp-768 {
    max-width: none;
    width: 23.2%;
    padding: 17px 19px 39px 20px;

    &:hover {
      box-shadow: 0 0 66px 0 $color-burnt-orange;

      img {
        transform: scale(1.09);
      }
    }
  }
}

.new-items__additional {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
  position: relative;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: $color-burnt-orange;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $color-default-white;
    line-height: normal;
    position: absolute;
    left: 0;
    top: 0;
  }

  .new-items__slide--new & > span {
    background-color: $color-mantis;
  }

  @include vp-768 {
    justify-content: space-between;
    align-items: center;

    & > span {
      display: none;
    }

    .new-items__slide--new & > span {
      display: flex;
      min-width: 120px;
      top: -1px;
    }
  }

}

.new-items__delivery {
  display: none;
  grid-template-columns: 24px auto;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 2.56px;
  text-transform: uppercase;
  gap: 6px;

  @include vp-768 {
    display: grid;
  }
}

.new-items__info {
  padding: 0 7px 10px 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 18px;

  h3 {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    line-height: normal;
  }

  p {
    display: none;
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    line-height: normal;
  }

  & > span {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-top: auto;
  }

  @include vp-768 {
    p {
      display: block;
    }

    gap: 25px;
  }
}

.new-items__like {
  cursor: pointer;

  svg {
    stroke: $color-default-black;
    color: $color-transparent;
    transition: all $trans-800 ease;
  }

  &:hover {
    svg {
      stroke: $color-burnt-orange;
      color: $color-burnt-orange;
      filter: drop-shadow(0px 0px 13px rgba(255, 129, 46, 0.56));
    }
  }

  &:active {
    svg {
      stroke: $color-default-black;
      color: $color-burnt-orange;
      transform: scale(0.5);
    }
  }

  &.is-active {
    svg {
      stroke: $color-default-black;
      color: $color-burnt-orange;
    }
  }
}

.new-items__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: all $trans-800 ease;
  }

  @include vp-768 {
    img {
      width: 163px;
      height: 163px;
    }
  }
}

.new-items__button {
  font-size: 8px;
  cursor: pointer;
  align-self: center;
  align-items: center;
  padding: 15px 10px 10px 10px;

  @include vp-375 {
    font-size: 10px;
    min-width: 144px;
  }
}

.new-items__swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13.68px;
  color: $color-grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  padding: 10px;
  border: none;
  background-color: $color-whisper;
  transition: all $trans-300;
  cursor: pointer;

  svg {
    transition: all $trans-300;
  }

  @include vp-768 {
    width: 50px;
    height: 47px;
    border-radius: 19px;

    svg {
      width: 20px;
      height: 23px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
    background-color: $color-burnt-orange;

    svg {
      color: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    display: none;
  }
}

.new-items__swiper-button--prev {
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.new-items__swiper-button--next {
  right: 0;
}

.new-items__description-wrapper {
  padding-left: 14px;
}

