.new-items__text {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  gap: 16px;
  margin-bottom: 30px;

  h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
  }

  @include vp-768 {
    margin-bottom: 40px;
  }
}

.new-items__link {
  color: $color-burnt-orange;
  margin-top: 4px;
  // cursor: $custom-cursor;
}

.new-items__container {
  position: relative;
}

.new-items__wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.new-items__slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all $trans-800;
  max-width: 160px;
  // cursor: $custom-cursor;

  @include vp-768 {
    max-width: none;
    width: 23.2%;

    &:hover {
      box-shadow: 0 0 66px 0 $color-burnt-orange;
    }
  }
}

/* .new-items__slide:not(.swiper-slide-fully-visible) {
  opacity: 0.5;

  transform: scale(0.5);
}*/

.new-items__additional {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: $color-burnt-orange;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $color-default-white;
    line-height: normal;
  }
}

.new-items__delivery {
  display: none;
}

.new-items__info {
  padding: 0 7px 10px 7px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;

  h3 {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    line-height: normal;
  }

  p {
    display: none;
  }

  & > span {
    text-align: center;
    font-size: 14px;
    font-weight: 900;
  }
}

.new-items__image-wrapper {
  margin-bottom: 11px;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.new-items__button {
  font-size: 8px;
  // cursor: $custom-cursor;

  @include vp-375 {
    font-size: 10px;
  }
}

.new-items__swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13.68px;
  color: $color-grey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  padding: 10px;
  border: none;
  background-color: $color-whisper;
  transition: all $trans-300;
  // cursor: $custom-cursor;

  svg {
    transition: all $trans-300;
  }

  @include vp-768 {
    width: 50px;
    height: 47px;
    border-radius: 19px;

    svg {
      width: 20px;
      height: 23px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
    background-color: $color-burnt-orange;

    svg {
      color: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    display: none;
  }
}

.new-items__swiper-button--prev {
  left: 0;

  svg {
    transform: rotate(180deg);
  }
}

.new-items__swiper-button--next {
  right: 0;
}

.new-items__slide {
  //transform: scale(0.67);
  //opacity: 0.5;
  //transform: scale(0.5) !important;
  // transition-duration: 250ms;
  // transition-property: transform, opacity;
}

/*.swiper-slide-visible {
  opacity: 0.5;
  //transform: scale(0.6);
}*/

/*.swiper-slide-fully-visible {
  //opacity: 1;
  //transform: scale(1);
}*/
