@keyframes scale {
  0% {
      transform: scale(1.0);
  }
  70% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1.47);
  }
}

@keyframes bottom-wrapper {
  0% {
      bottom: -1000px;
  }
  70% {
      bottom: 0;
  }
  100% {
      bottom: -3px;
  }
}

@keyframes bottom-logo {
  0% {
      bottom: 0;
      opacity: 0;
  }
  50% {
      bottom: 10%;
      opacity: 1;
  }
  100% {
      bottom: 8%;
      opacity: 1;
  }
}
