// Colors
// для нейминга цветов https://www.htmlcsscolor.com/hex/334482

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-burnt-orange:                #ff812e;
$color-persimmon:                   #ea5d00;
$color-romantic:                    #fdc6a2;
$color-whisper:                     #e9e9e9;
$color-sauvignon:                   #eae7e5;
$color-grey:                        #828282;
$color-nero:                        #222222;
$color-zambezi:                     #595959;
$color-zircon:                      #dde9ea;

// Fonts

$fz-default:                        13px;

$ff-montserrat:                     "Montserrat", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports

$vp-375:                            375px;
$vp-768:                            768px;
$vp-1200:                           1200px;
$vp-1440:                           1440px;

// Retina

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
